{% extends "dashboard/adminbase.html.twig" %}
{% block title %}Admin Dashboard - Commentaires
{% endblock %}
{% block AdminContent %}
	<div class="content-wrapper">
		<div class="container-xxl flex-grow-1 container-p-y">
			<div class="card mb-4">
				<div class="card">
					<h5 class="card-header">Liste des commentaires</h5>
					<br>

    {{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commentaire_index') }}">back to list</a>
{% endblock %}
