{% extends "dashboard/adminbase.html.twig" %}
{% block title %}Admin Dashboard - Commentaires
{% endblock %}
{% block AdminContent %}
	<div class="layout-wrapper layout-content-navbar layout-without-menu">
		<img src="../nav/img/front-pages/backgrounds/cta-bg-light.png" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" style="height: 121% !important;"/>
		<div class="layout-container">
			<div class="layout-page">
				<div class="content-wrapper">
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="card mb-4">
							<table class="table">
								<tbody>
									<tr>
										<th>Idcomm</th>
										<td>{{ commentaire.idcomm }}</td>
									</tr>
									<tr>
										<th>Comment</th>
										<td>{{ commentaire.comment }}</td>
									</tr>
									<tr>
										<th>Iduser</th>
										<td>{{ commentaire.iduser }}</td>
									</tr>
								</tbody>
							</table>
							<a href="{{ path('app_commentaire_index') }}">back to list</a>
							<a type="submit" class="btn btn-primary">Supprimer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

