{% extends "_bases/base.html.twig" %}
{% block title %}Ajouter Commentaire
{% endblock %}
{% block content %}
	<div class="layout-wrapper layout-content-navbar layout-without-menu">
		<img src="../nav/img/front-pages/backgrounds/cta-bg-light.png" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" style="height: 121% !important;"/>
		<div class="layout-container">
			<div class="layout-page">
				<div class="content-wrapper">
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="card mb-4" style="padding: 9px;">
							<div class="row mt-4">
								<div class="col-md-8 offset-md-2">
									<div class="comment-list">
										{% for commentaire in commentaires %}
											<div class="comment-item">
												<div class="comment-header">
													<h3>{{ commentaire.iduser }}</h3>
												</div>
												<div class="comment-body">
													<p>{{ commentaire.comment }}</p>
												</div>
											</div>
										{% endfor %}
										<a href="{{ path('app_commentaireF_new', {'idposte': poste.idposte}) }}" class="btn btn-primary">ajouter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

